* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body.black {
    --bg-color: white;
    --text-color: black;
    --primary-color: #94989C;
    --primary-color-dark: #63676B;
}

body.black.dark {
    --bg-color: black;
    --text-color: #FFFFFF;
    --primary-color: #94989C;
    --primary-color-dark: #63676B;
}

body.red {
    --bg-color: #FFFFFF;
    --text-color: #400000;
    --primary-color: #FE0002;
    --primary-color-dark: #BF0000;
}

body.red.dark{
    --bg-color: rgb(27, 0, 0);
    --text-color: #FFFFFF;
    --primary-color: #FE0002;
    --primary-color-dark: #BF0000;
}

body.pink {
    --bg-color: #FFF0F6;
    --text-color: rgb(27, 0, 0);
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
}

body.pink.dark {
    --bg-color: #1F000B;
    --text-color: #FFFFFF;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
}

body.yellow {
    --bg-color: #fffae3;
    --text-color: #E89F05;
    --primary-color: #E8B705;
    --primary-color-dark: #FFA205;
}

body.yellow.dark {
    --bg-color: black;
    --text-color: #fffae3;
    --primary-color: #E8B705;
    --primary-color-dark: #FFA205;
}

/* body.yellow {
    --bg-color: #fffae3;
    --text-color: #F29F05;
    --primary-color: #F2CE1B;
    --primary-color-dark: #F2C12E;
}

body.yellow.dark {
    --bg-color: black;
    --text-color: #fffae3;
    --primary-color: #F2CE1B;
    --primary-color-dark: #F2C12E;
} */

body.green {
    --bg-color: #f0fcde;
    --text-color: #112900;
    --primary-color: #65A603;
    --primary-color-dark: #3B7302;
}

body.green.dark {
    --bg-color: #112900;
    --text-color: #f0fcde;
    --primary-color: #65A603;
    --primary-color-dark: #3B7302;
}

body.blue {
    --bg-color: #FFFFFF;
    --text-color: #00082F;
    --primary-color: #4263EB;
    --primary-color-dark: #364FC7;
}

body.blue.dark {
    --bg-color: #00082F;
    --text-color: #FFFFFF;
    --primary-color: #4263EB;
    --primary-color-dark: #364FC7;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    width: 300px;
    margin: 50px auto;
}

div.theme{
    margin-bottom: 25px;
    display: flex;
    justify-content: end;
    font-size: 18px;
}

a.moon {
    position: absolute;
}

a.sun.active {
    opacity: 0;
}

a.sun {
    position: absolute;
}

a.moon.active {
    opacity: 0;
}

img {
    width: 100%; /* relativo a caixa em que ela está inserida*/
}

img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border: var(--primary-color) solid 4px;
}

h1 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.username {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    opacity: 0.8;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 48px 0;
}



ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 95px;
    background: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;

    transform: background 400ms;
}

ul li a:hover {
    background: var(--primary-color-dark);
}

img.icon {
    width: 20px;
    height: 20px;
}

footer p.themeColor {
    margin-top: 25px;
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 400ms;
}


footer p.themeColor:hover {
    opacity: 1;
}

/*
footer a {
    color: var(--text-color);
} */

footer div {
    display: flex;
    justify-content: space-between;
}

a.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

a.circle.black{
    background: #94989C;
}

a.circle.red{
    background-color: #FE0002;
}

a.circle.pink{
    background-color: #D6336C;
}

a.circle.yellow{
    background-color: #F2CE1B;
}

a.circle.green{
    background-color: #65A603;
}

a.circle.blue{
    background-color: #4263EB;
}
